#gameWrap {
  position: relative;
  width: 1024px;
  height: 768px;
}

#gameWorld {
  position: relative; /* makes z-index apply */
  z-index: 1;
  display: block;
}

.instruction-labels {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 999;       /* ensure it's above canvas */
  text-align: center;
  pointer-events: none;
}

.instruction {
  display: inline-block;
  color: #fff;
  background: rgba(0,0,0,0.6);
  padding: 4px 12px;
  border-radius: 10px;
  font-size: 16px;
}
